# Separatriz

In [17]:
# imports
import numpy as np
import pandas as pd

In [18]:
# como calcular os quartis com numpy
import numpy as np

numeros = [12,15,20,21,23,25,28,30,35]

q1 = np.percentile(numeros, 25)
q2 = np.percentile(numeros, 50)
q3 = np.percentile(numeros, 75)

print(f"""
    q1 : {q1}
    q2 (Mediana) : {q2}
    q3 : {q3}
""")

    q1 : 20.0
    q2 (Mediana) : 23.0
    q3 : 28.0

In [19]:
df = pd.read_csv("datasets/A05 - separatrizes_dados.csv")
df.head()

,Ex1_Tempo(dias),Ex2_Salario(R$),Ex3_Nota,Ex4_Entrega(dias),Ex5_Espera(minutos)
0,12.0,3200.0,45.0,2.0,10
1,15.0,3500.0,55.0,3.0,12
2,14.0,4000.0,60.0,4.0,14
3,18.0,4100.0,62.0,5.0,15
4,20.0,3900.0,64.0,6.0,16

In [20]:
# exericio 1
q1 = np.nanpercentile(df['Ex5_Espera(minutos)'], 25)
q2 = np.nanpercentile(df['Ex5_Espera(minutos)'], 50)
q3 = np.nanpercentile(df['Ex5_Espera(minutos)'], 75)

print(f"""
    q1 : {q1}
    q2 (Mediana) : {q2}
    q3 : {q3}
""")

    q1 : 30.5
    q2 (Mediana) : 54.0
    q3 : 79.0

In [21]:
# exercicio 2
q1 = np.nanpercentile(df['Ex2_Salario(R$)'], 25)
q2 = np.nanpercentile(df['Ex2_Salario(R$)'], 50)
q3 = np.nanpercentile(df['Ex2_Salario(R$)'], 75)

print(f"""
    q1 : {q1}
    q2 (Mediana) : {q2}
    q3 : {q3}
""")

    q1 : 4425.0
    q2 (Mediana) : 6250.0
    q3 : 7225.0

2b) estar acima dos Q3 significa que este desenvolvedor é um outlier porque ganha mais que 75% dos outros desenvolvedores.

In [22]:
# exercicio 3
q1 = np.nanpercentile(df['Ex3_Nota'], 25)
q2 = np.nanpercentile(df['Ex3_Nota'], 50)
q3 = np.nanpercentile(df['Ex3_Nota'], 75)

print(f"""
    q1 : {q1}
    q2 (Mediana) : {q2}
    q3 : {q3}
""")

    q1 : 64.0
    q2 (Mediana) : 76.0
    q3 : 88.0

3b) O professor pode usar o Q1 para descobrir quais alunos estão abaixo da mediana e provavelmente precisa de um reforço, para o Q3 ela pode usar para descobrir quais alunos não precisam de reforço e podem ajudar as pessoas que estão no Q1.