# Processamento de dados
Na aula usamos as bibliotecas numpy e pandas para manipular dados em arquivos .csv

In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv("./datasets/output.csv", sep=",") # carrega o arquivo csv

In [ ]:
# primeira tupla é quantidade de linhas
# a segunda tupla é a quantidade de colunas
df.shape

(104, 7)

In [16]:
# retorna as colunas
df.columns

Index(['Number', 'Sex', '%Red Pixel', '%Green pixel', '%Blue pixel', 'Hb',
       'Anaemic'],
      dtype='object')

In [9]:
# retorna o indice de cada linha, utilizando o metodo index
# indiece é o numero de cada linha
# provavel para usar em loop for

df.index

RangeIndex(start=0, stop=104, step=1)

In [12]:
# retorna informações relevantes do dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Number        104 non-null    int64
 1   Sex           104 non-null    object
 2   %Red Pixel    104 non-null    float64
 3   %Green pixel  104 non-null    float64
 4   %Blue pixel   104 non-null    float64
 5   Hb            104 non-null    float64
 6   Anaemic       104 non-null    object
dtypes: float64(4), int64(1), object(2)
memory usage: 5.8+ KB

In [ ]:
# pega as 5 primeiras linhas do dataframes
df.head()

   Number Sex  %Red Pixel  %Green pixel  %Blue pixel    Hb Anaemic
0       1   M     43.2555       30.8421      25.9025   6.3     Yes
1       2   F     45.6033       28.1900      26.2067  13.5      No
2       3  F      45.0107       28.9677      26.0215  11.7      No
3       4   F     44.5398       28.9899      26.4703  13.5      No
4       5  M      43.2870       30.6972      26.0158  12.4      No

In [15]:
# pega as ultimas linhas do dataframe
df.tail()

     Number Sex  %Red Pixel  %Green pixel  %Blue pixel    Hb Anaemic
99      100  F      49.9999       29.2860      20.7141  14.5     Yes
100     101  M      42.2324       30.6757      27.0919   6.3     Yes
101     102   F     45.6064       31.9084      22.4852  12.7      No
102     103  M      45.2095       29.2769      25.5136  13.4      No
103     104   F     43.5706       29.8094      26.6199  12.2      No

In [17]:
df["Sex"].unique()

array(['M', 'F', 'F ', 'M '], dtype=object)